* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  padding: 0;

  background: rgba(137, 190, 240, 0.692);
}
a {
  text-decoration: none;
}

.navbar_container {
  background: rgb(0, 170, 255);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 0px;

  position: fixed;
  width: 100%;
}
.logo {
  font-family: Georgia, serif Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 10px;
}
.links {
  display: flex;
}
.links li {
  list-style: none;
  padding: 10px;
  font-weight: 500;
}
li:hover {
  color: rgb(192, 200, 210);
  font-size: 17px;
}
li:active {
  color: blue;
}
.space {
  width: 100px;
}
.home-page {
  background-color: rgb(7, 92, 251);

  padding: 80px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textA {
  display: flex;
}
.textB {
  display: flex;
}
.text1 {
  display: flex;
  flex-direction: column;
}
.text2 {
  display: flex;
  flex-direction: column-reverse;
}
.home_header {
  align-self: flex-start;
}
.img {
  display: flex;
  flex-direction: column;
}
.dot {
  display: flex;
}
.dote {
  border: 10px solid white;
  margin: 20px;
  width: 50px;
  height: 50px;
}
.about_page {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100px;
  background-color: rgb(7, 92, 251);
  color: aliceblue;
  margin: 10px;
  padding: 10px;
}
.box img {
  padding-top: 20px;
  width: max-content;
  height: 100px;
}
.box:nth-of-type(1) {
  flex: 1;
}
.box:nth-of-type(2) {
  flex: 2;
}
.box:nth-of-type(3) {
  flex: 1;
}
.box:nth-of-type(1):hover {
  background: rgb(0, 170, 255);
}
.box:nth-of-type(2):hover {
  background: rgb(0, 170, 255);
}
.box:nth-of-type(3):hover {
  background: rgb(0, 170, 255);
}
.header {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h2 {
  color: rgb(47, 68, 255);
  font-size: x-large;
}
.container1 {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.container1 img {
  width: min-content;
  height: 100px;
  padding: 20px;
}
.container1 img:hover {
  zoom: 110%;
}
.container1 h5:hover {
  color: blue;
}
.ContactForm {
  margin-left: 30px;
  padding: 30px;
  background-color: rgb(7, 92, 251);
  height: auto;
  width: 500px;
  display: flex;

  align-content: center;
}
.form-group {
  padding-bottom: 20px;
  width: 280px;
}
.form-group label {
  color: aliceblue;
}
.form-group input {
  border: none;
  width: 250px;
  height: 20px;
}
.button button {
  background: rgb(0, 170, 255);
  border: none;
  padding: 6px;
  border-radius: 5px;
}
.btn:hover {
  background: rgb(2, 109, 162);
}
.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: rgb(0, 170, 255);
}
.part1 p {
  padding: 10px;
}

.part1 span {
  font-weight: bold;
}
.part2 li {
  list-style: none;
}
.part3 {
  justify-self: flex-end;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .logo h2 {
    padding-left: 10px;
  }
  .about_page {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .box {
    flex-direction: row;
    width: auto;
    padding: 10px;
    justify-content: space-between;
  }
  .box h3 {
    margin-right: 10px;
  }
  .ContactForm {
    width: auto;
  }
  .footer {
    flex-direction: column;
    width: 100%;
  }
  .part2 {
    margin-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .home-page {
    width: 105%;
    margin: 0;
    padding: 0px;
    padding-left: 10px;
    padding-top: 60px;
  }
  .dote:nth-of-type(1) {
    display: none;
  }
}
